

.todo .inputs{
    margin: 20px auto;
}


.todo .inputs .inputbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.todo .inputs .inputbtn input{
    height: 25px;
    background-color: var(--white);
    padding-left: 5px;
    border: none;
outline: none;
}

.todo .inputs .inputbtn button{
    padding: 5px;
    background-color: var(--acentclr);
    border-radius: 5px;
    cursor: pointer;
}

