:root {
  --priclr: #222831;
  --secclr: #393E46;
  --white: #EEEEEE;
  --acentclr: #FFD369;
}

.App {
  text-align: center;
  background-color: var(--priclr);
  color: var(--white);
  padding: 20px auto;
  width: 100%;
height: auto;
}


/* Media Query -------------------- */
@media (max-width:576px){
  .App{
    padding: 0;
    margin: 0;
  }

}
